:root {
  --darkblue: #1f1f1f;
  --goldGradient: linear-gradient(45deg, #f9f295, #e0aa3e, #f9f295, #b88a44);
  --goldColor: #ffe44d;
}

@font-face {
  font-family: Belle;
  src: url('/fonts/Bellefair-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: Belle;
}

a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

.areaSize {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 2px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #dc5526;
  border-radius: 6px;
}
